# üßæ 7.3 ‚Äì Pandas: Introducci√≥n a DataFrames y Series

Pandas es la librer√≠a m√°s utilizada para el **an√°lisis y manipulaci√≥n de datos** en Python. Su estructura principal, el **DataFrame**, permite trabajar con datos tabulares (filas y columnas) de manera similar a una hoja de c√°lculo o una tabla SQL.

En este notebook aprender√°s a crear, explorar y modificar DataFrames y Series.

In [1]:
import pandas as pd
import numpy as np
print('‚úÖ Notebook 7.3 ‚Äì Pandas DataFrames y Series cargado correctamente.')

‚úÖ Notebook 7.3 ‚Äì Pandas DataFrames y Series cargado correctamente.

---
## üéØ Objetivos
- Crear **Series** y **DataFrames** desde distintas fuentes (listas, diccionarios, Numpy, CSV).
- Comprender la estructura y tipos de datos de Pandas.
- Usar m√©todos de exploraci√≥n y resumen.
- Modificar columnas, √≠ndices y valores b√°sicos.
- Aplicar operaciones simples sobre columnas.

---
## 1Ô∏è‚É£ Creaci√≥n de Series

Una `Series` es una estructura unidimensional con **√≠ndice y valores**. Es el bloque b√°sico de Pandas.

In [2]:
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s)
print('\nValores:', s.values)
print('√çndices:', s.index)

a    10
b    20
c    30
d    40
dtype: int64

Valores: [10 20 30 40]
√çndices: Index(['a', 'b', 'c', 'd'], dtype='object')

‚úÖ Una `Series` puede verse como un diccionario ordenado con etiquetas personalizadas.

---
## 2Ô∏è‚É£ Creaci√≥n de DataFrames

Un `DataFrame` es una **colecci√≥n de Series** con el mismo √≠ndice, similar a una hoja de c√°lculo.

In [3]:
datos = {
    'Producto': ['Monitor', 'Teclado', 'Rat√≥n', 'Altavoces'],
    'Precio': [120, 45, 25, 60],
    'Stock': [5, 10, 15, 8]
}

df = pd.DataFrame(datos)
df

    Producto  Precio  Stock
0    Monitor     120      5
1    Teclado      45     10
2      Rat√≥n      25     15
3  Altavoces      60      8

‚úÖ Cada columna es una `Series` con su propio tipo de datos. Pandas infiere los tipos autom√°ticamente.

---
## 3Ô∏è‚É£ Exploraci√≥n inicial de datos

Pandas incluye m√©todos para inspeccionar la estructura, tipos y resumen de los datos.

In [4]:
print('Dimensiones:', df.shape)
print('\nTipos de datos:\n', df.dtypes)
print('\nPrimeras filas:\n', df.head(2))
print('\nResumen estad√≠stico:\n', df.describe())

Dimensiones: (4, 3)

Tipos de datos:
 Producto    object
Precio       int64
Stock        int64
dtype: object

Primeras filas:
   Producto  Precio  Stock
0  Monitor     120      5
1  Teclado      45     10

Resumen estad√≠stico:
            Precio      Stock
count    4.000000   4.000000
mean    62.500000   9.500000
std     40.926764   4.203173
min     25.000000   5.000000
25%     40.000000   7.250000
50%     52.500000   9.000000
75%     75.000000  11.250000
max    120.000000  15.000000

‚úÖ `.describe()` calcula estad√≠sticas num√©ricas b√°sicas: media, desviaci√≥n, m√≠nimo, m√°ximo, etc.

---
## 4Ô∏è‚É£ Selecci√≥n de datos: filas y columnas

Existen dos formas principales de acceder a los datos:
- **Por etiqueta:** `df.loc[fila, columna]`
- **Por posici√≥n:** `df.iloc[fila, columna]`

In [5]:
print('Primera fila (iloc):\n', df.iloc[0])
print('\nColumna Precio (loc):\n', df.loc[:, 'Precio'])
print('\nCelda espec√≠fica (loc):', df.loc[1, 'Producto'])

Primera fila (iloc):
 Producto    Monitor
Precio          120
Stock             5
Name: 0, dtype: object

Columna Precio (loc):
 0    120
1     45
2     25
3     60
Name: Precio, dtype: int64

Celda espec√≠fica (loc): Teclado

‚úÖ `iloc` usa √≠ndices num√©ricos y `loc` etiquetas del √≠ndice o columnas.

---
## 5Ô∏è‚É£ üß© Ejercicio 1 ‚Äî C√°lculo de valor total

Agrega una nueva columna llamada **`Valor_Total`** que sea el producto de `Precio √ó Stock`. Luego muestra los productos cuyo valor total sea **mayor a 400**.

üí° *Pista:* las operaciones se aplican directamente sobre columnas del DataFrame (vectorizaci√≥n).

In [6]:
# Escribe tu c√≥digo aqu√≠...

### ‚úÖ Soluci√≥n propuesta

In [7]:
df['Valor_Total'] = df['Precio'] * df['Stock']
print(df)
print('\nProductos con valor total > 400:')
print(df[df['Valor_Total'] > 400])

    Producto  Precio  Stock  Valor_Total
0    Monitor     120      5          600
1    Teclado      45     10          450
2      Rat√≥n      25     15          375
3  Altavoces      60      8          480

Productos con valor total > 400:
    Producto  Precio  Stock  Valor_Total
0    Monitor     120      5          600
1    Teclado      45     10          450
3  Altavoces      60      8          480

---
## 6Ô∏è‚É£ Modificaci√≥n de datos e √≠ndices

Podemos renombrar columnas o √≠ndices f√°cilmente, o reasignar √≠ndices personalizados.

In [8]:
df.rename(columns={'Producto': 'Art√≠culo'}, inplace=True)
df.index = ['A', 'B', 'C', 'D']
df

    Art√≠culo  Precio  Stock  Valor_Total
A    Monitor     120      5          600
B    Teclado      45     10          450
C      Rat√≥n      25     15          375
D  Altavoces      60      8          480

‚úÖ Los m√©todos como `.rename()` y `.set_index()` permiten reorganizar la estructura sin alterar los datos.

---
## 7Ô∏è‚É£ üß© Ejercicio 2 ‚Äî Operaciones estad√≠sticas con columnas

A partir del DataFrame anterior:
- Calcula el precio promedio.
- Encuentra el art√≠culo m√°s caro y su stock.
- Muestra solo las columnas `Art√≠culo` y `Precio` ordenadas de mayor a menor precio.

üí° *Pista:* usa `.mean()`, `.idxmax()`, `.sort_values()`.

In [9]:
# Tu implementaci√≥n aqu√≠...

### ‚úÖ Soluci√≥n propuesta

In [10]:
precio_medio = df['Precio'].mean()
producto_caro = df.loc[df['Precio'].idxmax()]
ordenado = df[['Art√≠culo', 'Precio']].sort_values(by='Precio', ascending=False)

print('üí∞ Precio medio:', precio_medio)
print('\nArt√≠culo m√°s caro:\n', producto_caro)
print('\nListado ordenado:\n', ordenado)

üí∞ Precio medio: 62.5

Art√≠culo m√°s caro:
 Art√≠culo       Monitor
Precio             120
Stock                5
Valor_Total        600
Name: A, dtype: object

Listado ordenado:
     Art√≠culo  Precio
A    Monitor     120
D  Altavoces      60
B    Teclado      45
C      Rat√≥n      25

---
## üß† Resumen del notebook

- `Series` ‚Üí columna o vector con √≠ndice.
- `DataFrame` ‚Üí tabla completa con columnas heterog√©neas.
- M√©todos principales: `.head()`, `.describe()`, `.loc[]`, `.iloc[]`.
- Las operaciones son vectorizadas y muy eficientes.
- Pandas simplifica tareas comunes de an√°lisis y preprocesado.

üí° Pr√≥ximo paso ‚Üí **7.4 ‚Äì Indexaci√≥n, Filtrado y Slicing en Pandas.**