# üîç 7.4 ‚Äì Pandas: Indexaci√≥n, Slicing y Filtrado Avanzado

En este notebook aprender√°s a **acceder, seleccionar y filtrar datos** en Pandas de forma precisa y eficiente, usando tanto √≠ndices posicionales (`iloc`) como etiquetas (`loc`).

Adem√°s, exploraremos el filtrado condicional, la asignaci√≥n con condiciones y el uso de m√∫ltiples criterios de b√∫squeda.

In [1]:
import pandas as pd
import numpy as np
print('‚úÖ Notebook 7.4 ‚Äì Indexaci√≥n y Slicing en Pandas cargado correctamente.')

‚úÖ Notebook 7.4 ‚Äì Indexaci√≥n y Slicing en Pandas cargado correctamente.

---
## üéØ Objetivos
- Acceder a filas y columnas por etiqueta (`loc`) y posici√≥n (`iloc`).
- Aplicar **filtros condicionales** simples y compuestos.
- Usar **slicing** para seleccionar rangos de filas.
- Modificar subconjuntos de datos mediante condiciones.
- Reindexar y ordenar los DataFrames.

---
## 1Ô∏è‚É£ Dataset de ejemplo

Crearemos un DataFrame simulado con ventas por regi√≥n y producto para practicar los m√©todos de selecci√≥n.

In [2]:
datos = {
    'Regi√≥n': ['Norte', 'Sur', 'Este', 'Oeste', 'Norte', 'Sur', 'Este', 'Oeste'],
    'Producto': ['Monitor', 'Teclado', 'Rat√≥n', 'Altavoces', 'Monitor', 'Teclado', 'Rat√≥n', 'Altavoces'],
    'Ventas': [100, 80, 120, 60, 130, 90, 140, 75],
    'Coste': [70, 50, 90, 40, 75, 55, 100, 45]
}

df = pd.DataFrame(datos)
df.index = ['A','B','C','D','E','F','G','H']
df

  Regi√≥n   Producto  Ventas  Coste
A  Norte    Monitor     100     70
B    Sur    Teclado      80     50
C   Este      Rat√≥n     120     90
D  Oeste  Altavoces      60     40
E  Norte    Monitor     130     75
F    Sur    Teclado      90     55
G   Este      Rat√≥n     140    100
H  Oeste  Altavoces      75     45

‚úÖ Este DataFrame servir√° para probar distintas formas de selecci√≥n, filtrado y modificaci√≥n.

---
## 2Ô∏è‚É£ Acceso con `.loc[]` y `.iloc[]`

`loc` selecciona **por etiqueta**, mientras que `iloc` selecciona **por posici√≥n num√©rica**.

In [3]:
print('Fila con etiqueta C:')
print(df.loc['C'])

print('\nFila en posici√≥n 2:')
print(df.iloc[2])

print('\nSubconjunto (filas B‚ÄìE, columnas Producto‚ÄìCoste):')
print(df.loc['B':'E', 'Producto':'Coste'])

Fila con etiqueta C:
Regi√≥n       Este
Producto    Rat√≥n
Ventas        120
Coste          90
Name: C, dtype: object

Fila en posici√≥n 2:
Regi√≥n       Este
Producto    Rat√≥n
Ventas        120
Coste          90
Name: C, dtype: object

Subconjunto (filas B‚ÄìE, columnas Producto‚ÄìCoste):
    Producto  Ventas  Coste
B    Teclado      80     50
C      Rat√≥n     120     90
D  Altavoces      60     40
E    Monitor     130     75

‚úÖ El slicing en `loc` incluye ambos extremos; en `iloc`, el final **no se incluye** (como en Python est√°ndar).

---
## 3Ô∏è‚É£ Filtrado condicional

Podemos aplicar condiciones l√≥gicas para obtener subconjuntos de datos que cumplan ciertos criterios.

In [4]:
print('Ventas mayores a 100:')
print(df[df['Ventas'] > 100])

print('\nProductos del Norte con coste menor a 80:')
print(df[(df['Regi√≥n'] == 'Norte') & (df['Coste'] < 80)])

Ventas mayores a 100:
  Regi√≥n Producto  Ventas  Coste
C   Este    Rat√≥n     120     90
E  Norte  Monitor     130     75
G   Este    Rat√≥n     140    100

Productos del Norte con coste menor a 80:
  Regi√≥n Producto  Ventas  Coste
A  Norte  Monitor     100     70
E  Norte  Monitor     130     75

‚úÖ Los operadores l√≥gicos v√°lidos son `&` (AND), `|` (OR), y `~` (NOT).

---
## 4Ô∏è‚É£ üß© Ejercicio 1 ‚Äî Filtrado y c√°lculo condicional

Filtra los productos con **ventas > 90** y calcula una nueva columna `Beneficio` = `Ventas - Coste`.

üí° *Pista:* puedes crear la columna directamente sobre el resultado filtrado (`df[condici√≥n].assign(...)`).

In [5]:
# Tu c√≥digo aqu√≠...

### ‚úÖ Soluci√≥n propuesta

In [6]:
cond = df['Ventas'] > 90
resultado = df[cond].assign(Beneficio=lambda x: x['Ventas'] - x['Coste'])
resultado

  Regi√≥n Producto  Ventas  Coste  Beneficio
A  Norte  Monitor     100     70         30
C   Este    Rat√≥n     120     90         30
E  Norte  Monitor     130     75         55
G   Este    Rat√≥n     140    100         40

---
## 5Ô∏è‚É£ Modificaci√≥n condicional

Podemos actualizar valores en funci√≥n de una condici√≥n.

Por ejemplo, incrementar las ventas en un 10% para la regi√≥n "Sur":

In [7]:
df.loc[df['Regi√≥n'] == 'Sur', 'Ventas'] *= 1.10
df

/tmp/ipykernel_33005/1158328582.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[88. 99.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['Regi√≥n'] == 'Sur', 'Ventas'] *= 1.10

  Regi√≥n   Producto  Ventas  Coste
A  Norte    Monitor   100.0     70
B    Sur    Teclado    88.0     50
C   Este      Rat√≥n   120.0     90
D  Oeste  Altavoces    60.0     40
E  Norte    Monitor   130.0     75
F    Sur    Teclado    99.0     55
G   Este      Rat√≥n   140.0    100
H  Oeste  Altavoces    75.0     45

‚úÖ Las asignaciones vectorizadas son m√°s r√°pidas que recorrer filas con `for`.

---
## 6Ô∏è‚É£ Reindexaci√≥n y ordenaci√≥n

Podemos cambiar el orden de los √≠ndices o de los datos en funci√≥n de una o varias columnas.

In [8]:
df_ordenado = df.sort_values(by='Ventas', ascending=False)
print('Ordenado por Ventas descendente:\n', df_ordenado)

df_reindexado = df.reindex(['H','G','F','E','D','C','B','A'])
print('\nReindexado inverso:\n', df_reindexado)

Ordenado por Ventas descendente:
   Regi√≥n   Producto  Ventas  Coste
G   Este      Rat√≥n   140.0    100
E  Norte    Monitor   130.0     75
C   Este      Rat√≥n   120.0     90
A  Norte    Monitor   100.0     70
F    Sur    Teclado    99.0     55
B    Sur    Teclado    88.0     50
H  Oeste  Altavoces    75.0     45
D  Oeste  Altavoces    60.0     40

Reindexado inverso:
   Regi√≥n   Producto  Ventas  Coste
H  Oeste  Altavoces    75.0     45
G   Este      Rat√≥n   140.0    100
F    Sur    Teclado    99.0     55
E  Norte    Monitor   130.0     75
D  Oeste  Altavoces    60.0     40
C   Este      Rat√≥n   120.0     90
B    Sur    Teclado    88.0     50
A  Norte    Monitor   100.0     70

‚úÖ `sort_values()` y `reindex()` son herramientas b√°sicas para ordenar y reorganizar los datos.

---
## 7Ô∏è‚É£ üß© Ejercicio 2 ‚Äî Ranking de productos

Crea una nueva columna `Ranking` que asigne el **puesto de ventas** a cada producto (1 = mayor venta). Luego muestra solo las columnas `Producto`, `Ventas` y `Ranking`.

üí° *Pista:* usa `df['Ventas'].rank(ascending=False, method='dense')`.

In [9]:
# Implementa tu c√≥digo aqu√≠...

### ‚úÖ Soluci√≥n propuesta

In [10]:
df['Ranking'] = df['Ventas'].rank(ascending=False, method='dense').astype(int)
print(df[['Producto','Ventas','Ranking']])

    Producto  Ventas  Ranking
A    Monitor   100.0        4
B    Teclado    88.0        6
C      Rat√≥n   120.0        3
D  Altavoces    60.0        8
E    Monitor   130.0        2
F    Teclado    99.0        5
G      Rat√≥n   140.0        1
H  Altavoces    75.0        7

---
## üß† Resumen del notebook

- `.loc[]` ‚Üí acceso por etiquetas.
- `.iloc[]` ‚Üí acceso por posici√≥n num√©rica.
- Filtrado condicional con `&`, `|`, `~`.
- Modificaci√≥n vectorizada mediante condiciones.
- Reindexaci√≥n y ordenaci√≥n de datos.
- Ranking y creaci√≥n de columnas derivadas.

üí° Pr√≥ximo paso ‚Üí **7.5 ‚Äì Pandas: Manejo de Varias Tablas (Joins y Merge).**