# üóÑÔ∏è 9.1 ‚Äî Acceso a Bases de Datos SQLite desde Python

En este notebook aprender√°s a trabajar con **bases de datos SQLite**, una opci√≥n ligera y embebida ideal para proyectos locales o pruebas de concepto.

üìò *SQLite* guarda toda la base de datos en un solo archivo `.db` y no requiere instalaci√≥n ni servidor.

Aprender√°s a:
- Conectarte a una base de datos SQLite.
- Crear tablas y ejecutar consultas SQL.
- Insertar, leer y eliminar datos.
- Integrar consultas SQL con **Pandas** para an√°lisis de datos.

In [4]:
import sqlite3
import pandas as pd

print('‚úÖ Notebook 9.1 ‚Äî SQLite b√°sico cargado correctamente.')

‚úÖ Notebook 9.1 ‚Äî SQLite b√°sico cargado correctamente.

---
## 1Ô∏è‚É£ Crear o conectar a una base de datos

SQLite crea el archivo autom√°ticamente si no existe. Usaremos `sqlite3.connect()`.

In [5]:
conexion = sqlite3.connect('../../datasets/ventas.db')
print('üì¶ Conectado a la base de datos ventas.db')

üì¶ Conectado a la base de datos ventas.db

---
## 2Ô∏è‚É£ Crear una tabla

Usaremos SQL est√°ndar para crear una tabla llamada `ventas` con las columnas:

- id (entero, clave primaria)
- fecha (texto)
- producto (texto)
- cantidad (entero)
- precio (real)

In [6]:
cursor = conexion.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS ventas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    fecha TEXT,
    producto TEXT,
    cantidad INTEGER,
    precio REAL
);
''')

conexion.commit()
print('üß± Tabla "ventas" creada correctamente.')

üß± Tabla "ventas" creada correctamente.

---
## 3Ô∏è‚É£ Insertar registros

Podemos insertar filas con SQL o desde una lista de tuplas.

In [7]:
ventas = [
    ('2025-11-01', 'A', 10, 5.2),
    ('2025-11-01', 'B', 4, 7.1),
    ('2025-11-02', 'A', 6, 5.0),
    ('2025-11-02', 'C', 9, 3.9),
    ('2025-11-03', 'B', 7, 7.2)
]

cursor.executemany('INSERT INTO ventas (fecha, producto, cantidad, precio) VALUES (?, ?, ?, ?)', ventas)
conexion.commit()
print('üíæ Datos insertados correctamente.')

üíæ Datos insertados correctamente.

---
## 4Ô∏è‚É£ Consultar datos

Podemos ejecutar una consulta SQL directamente desde Python y mostrar los resultados.

In [8]:
cursor.execute('SELECT * FROM ventas')
for fila in cursor.fetchall():
    print(fila)

(1, '2025-11-01', 'A', 10, 5.2)
(2, '2025-11-01', 'B', 4, 7.1)
(3, '2025-11-02', 'A', 6, 5.0)
(4, '2025-11-02', 'C', 9, 3.9)
(5, '2025-11-03', 'B', 7, 7.2)

---
## 5Ô∏è‚É£ Consultar datos con Pandas

Podemos usar `pd.read_sql_query()` para convertir los resultados en un DataFrame.

In [9]:
df = pd.read_sql_query('SELECT * FROM ventas', conexion)
df.head()

   id       fecha producto  cantidad  precio
0   1  2025-11-01        A        10     5.2
1   2  2025-11-01        B         4     7.1
2   3  2025-11-02        A         6     5.0
3   4  2025-11-02        C         9     3.9
4   5  2025-11-03        B         7     7.2

---
## 6Ô∏è‚É£ üß© Ejercicio ‚Äî Calcular el ingreso total

Agrega una columna `ingreso` al DataFrame (`cantidad * precio`) y calcula el total.

üëâ *Pista:* usa operaciones de Pandas sobre columnas num√©ricas.

In [10]:
# ‚úèÔ∏è Tu c√≥digo aqu√≠...

### ‚úÖ Soluci√≥n propuesta

In [11]:
df['ingreso'] = df['cantidad'] * df['precio']
total = df['ingreso'].sum()
print(f"üí∞ Ingreso total: {total:.2f} ‚Ç¨")
df

üí∞ Ingreso total: 195.90 ‚Ç¨

   id       fecha producto  cantidad  precio  ingreso
0   1  2025-11-01        A        10     5.2     52.0
1   2  2025-11-01        B         4     7.1     28.4
2   3  2025-11-02        A         6     5.0     30.0
3   4  2025-11-02        C         9     3.9     35.1
4   5  2025-11-03        B         7     7.2     50.4

---
## 7Ô∏è‚É£ Cerrar conexi√≥n

Siempre que termines de trabajar con la base de datos, cierra la conexi√≥n para liberar recursos.

In [12]:
conexion.close()
print('üîí Conexi√≥n cerrada correctamente.')

üîí Conexi√≥n cerrada correctamente.

---
## üß† Conclusiones

- SQLite es una herramienta ideal para prototipar y almacenar datos localmente.
- Puede integrarse f√°cilmente con Pandas para an√°lisis.
- En los pr√≥ximos notebooks aprender√°s a realizar **operaciones CRUD completas** (crear, leer, actualizar, eliminar) y a conectar con **bases de datos reales** como PostgreSQL o MySQL.