# üß© 9.2 ‚Äî Operaciones CRUD con SQLite desde Python

En este notebook aprender√°s a realizar las operaciones b√°sicas **CRUD** (Create, Read, Update, Delete) sobre una base de datos **SQLite** usando Python.

Usaremos la base `ventas.db` creada en el notebook anterior (`91_sqlite_basico.ipynb`).

In [2]:
import sqlite3
import pandas as pd

conexion = sqlite3.connect('../../datasets/ventas.db')
cursor = conexion.cursor()

print('‚úÖ Conectado a ventas.db')

‚úÖ Conectado a ventas.db

---
## 1Ô∏è‚É£ CREATE ‚Äî Insertar registros nuevos

Podemos insertar una fila con `cursor.execute()` o varias con `executemany()`.

In [3]:
# üß© Ejercicio ‚Äî Inserta un nuevo registro con tus propios valores
# Ejemplo: ('2025-11-04', 'D', 8, 6.5)

# ‚úèÔ∏è Escribe tu c√≥digo aqu√≠...

### ‚úÖ Soluci√≥n propuesta

In [4]:
nueva_venta = ('2025-11-04', 'D', 8, 6.5)
cursor.execute('INSERT INTO ventas (fecha, producto, cantidad, precio) VALUES (?, ?, ?, ?)', nueva_venta)
conexion.commit()
print('üíæ Registro insertado correctamente.')

üíæ Registro insertado correctamente.

---
## 2Ô∏è‚É£ READ ‚Äî Consultar datos

Usamos `SELECT` para obtener datos. Podemos convertir el resultado en DataFrame para analizarlo.

In [5]:
df = pd.read_sql_query('SELECT * FROM ventas', conexion)
df

   id       fecha producto  cantidad  precio
0   1  2025-11-01        A        10     5.2
1   2  2025-11-01        B         4     7.1
2   3  2025-11-02        A         6     5.0
3   4  2025-11-02        C         9     3.9
4   5  2025-11-03        B         7     7.2
5   6  2025-11-04        D         8     6.5

---
## 3Ô∏è‚É£ UPDATE ‚Äî Actualizar registros existentes

Podemos actualizar una o varias filas con `UPDATE` y una condici√≥n `WHERE`.

In [6]:
# üß© Ejercicio ‚Äî Aumenta el precio de todos los productos 'A' un 10%
# ‚úèÔ∏è Escribe tu c√≥digo aqu√≠...

### ‚úÖ Soluci√≥n propuesta

In [7]:
cursor.execute('UPDATE ventas SET precio = precio * 1.10 WHERE producto = "A"')
conexion.commit()
print('üìà Precios actualizados correctamente.')

üìà Precios actualizados correctamente.

---
## 4Ô∏è‚É£ DELETE ‚Äî Eliminar registros

Podemos eliminar filas usando `DELETE FROM` y una condici√≥n. ¬°Cuidado! Si no se incluye `WHERE`, se borrar√°n todas las filas.

In [8]:
# üß© Ejercicio ‚Äî Elimina las ventas del producto 'C'
# ‚úèÔ∏è Escribe tu c√≥digo aqu√≠...

### ‚úÖ Soluci√≥n propuesta

In [9]:
cursor.execute('DELETE FROM ventas WHERE producto = "C"')
conexion.commit()
print('üóëÔ∏è Registros eliminados correctamente.')

üóëÔ∏è Registros eliminados correctamente.

---
## 5Ô∏è‚É£ Confirmar los cambios y verificar el resultado final

Visualizamos la tabla despu√©s de aplicar las operaciones anteriores.

In [10]:
df_final = pd.read_sql_query('SELECT * FROM ventas', conexion)
df_final

   id       fecha producto  cantidad  precio
0   1  2025-11-01        A        10    5.72
1   2  2025-11-01        B         4    7.10
2   3  2025-11-02        A         6    5.50
3   5  2025-11-03        B         7    7.20
4   6  2025-11-04        D         8    6.50

---
## 6Ô∏è‚É£ üß© Ejercicio ‚Äî Calcular ingresos totales por producto

Usa una consulta SQL con `GROUP BY` para obtener el ingreso total (`cantidad * precio`) agrupado por producto.

üëâ *Pista:* puedes hacerlo con SQL directamente o leer con Pandas y agrupar.

In [11]:
# ‚úèÔ∏è Tu c√≥digo aqu√≠...

### ‚úÖ Soluci√≥n propuesta

In [12]:
query = 'SELECT producto, SUM(cantidad * precio) AS ingreso_total FROM ventas GROUP BY producto'
df_ingresos = pd.read_sql_query(query, conexion)
df_ingresos

  producto  ingreso_total
0        A           90.2
1        B           78.8
2        D           52.0

---
## 7Ô∏è‚É£ Cerrar conexi√≥n

Cerramos la conexi√≥n a la base de datos.

In [13]:
conexion.close()
print('üîí Conexi√≥n cerrada correctamente.')

üîí Conexi√≥n cerrada correctamente.

---
## üß† Conclusiones

- Aprendiste a realizar operaciones CRUD completas desde Python.
- La conexi√≥n SQLite es ideal para practicar sin necesidad de un servidor externo.
- En el siguiente notebook (`93_lab_tickets.ipynb`), aplicar√°s este conocimiento en un **laboratorio completo** de gesti√≥n de tickets de soporte.